USERNAME={your_unix_local_username}
UNIX_UID={your_unix_local_uid}
CONTAINER_SHELL={/bin/bash|/bin/zsh}

POSTGRES_DB={your_db_name}
POSTGRES_USER={your_db_user}
POSTGRES_PASSWORD={your_db_password}

RABBITMQ_PASS={your_admin_pass}

DNSDOCK_NAME={your_container_suffix}
