# This container is specific to the application.
# It contains configuration and data for other containers.
data:
    image: ubuntu:trusty
    volumes:
        - .:/srv
        - ./docker/conf/nginx_vhost.conf:/etc/nginx/sites-enabled/my_app.conf
        - .home-developer:/home/developer
        - $SSH_AUTH_SOCK:/tmp/agent.sock
        - /var/lib/postgresql/data
        - /var/lib/elasticsearch

webserver:
    image: greg0ire/nginx
    volumes_from:
        - data
    links:
        - appserver
    env_file:
        - ./docker-compose.env
    environment:
        - DNSDOCK_IMAGE=web

appserver:
    image: greg0ire/php-fpm
    volumes_from:
        - data
    links:
        - database
        - memorycache
        - searchengine
        - mailer
        - messagebroker
    env_file:
        - ./docker-compose.env
    environment:
        - DNSDOCK_IMAGE=app

console:
    image: greg0ire/php-cli
    volumes_from:
        - data
    links:
        - database
        - memorycache
        - searchengine
        - mailer
        - messagebroker
    env_file:
        - ./docker-compose.env
    environment:
        - DNSDOCK_IMAGE=console
        - SSH_AUTH_SOCK=/tmp/agent.sock

database:
    image: greg0ire/postgres
    volumes_from:
        - data
    env_file:
        - ./docker-compose.env
    environment:
        - DNSDOCK_IMAGE=db
mailer:
    image: greg0ire/mailcatcher
    env_file:
        - ./docker-compose.env
    environment:
        - DNSDOCK_IMAGE=mailer

memorycache:
    image: greg0ire/memcached
    env_file:
        - ./docker-compose.env
    environment:
        - DNSDOCK_IMAGE=memcache

searchengine:
    image: greg0ire/elasticsearch
    volumes_from:
        - data
    env_file:
        - ./docker-compose.env
    environment:
        - DNSDOCK_IMAGE=search

frontendmanagertools:
    image: greg0ire/npmtools
    volumes_from:
        - data
    env_file:
        - ./docker-compose.env
    environment:
        - DNSDOCK_IMAGE=fmt

# Don't use 'guest/guest' to connect to this container (it is blocked)
messagebroker:
    image: tutum/rabbitmq
    env_file:
        - ./docker-compose.env
    environment:
        - DNSDOCK_IMAGE=mb
