# This container is specific to the application.
# It contains configuration and data for other containers.
data:
    build: ./docker
    volumes:
        - .:/srv
        - ./docker/conf/nginx_vhost.conf:/etc/nginx/sites-enabled/my_app.conf
        - ~/.bashrc.docker:/home/developer/.bashrc
        - $SSH_AUTH_SOCK:/tmp/agent.sock

webserver:
    build: ./docker/docker-images/nginx
    volumes_from:
        - data
    links:
        - appserver
    env_file:
        - ./docker-compose.env
    environment:
        - DNSDOCK_IMAGE=web

appserver:
    build: ./docker/docker-images/php
    volumes_from:
        - data
    links:
        - database
        - memorycache
        - searchengine
        - mailer
        - messagebroker
    env_file:
        - ./docker-compose.env
    environment:
        - DNSDOCK_IMAGE=app
        - SSH_AUTH_SOCK=/tmp/agent.sock

database:
    build: ./docker/docker-images/postgres
    volumes_from:
        - data
    env_file:
        - ./docker-compose.env
    environment:
        - DNSDOCK_IMAGE=db
mailer:
    build: ./docker/docker-images/mailcatcher
    env_file:
        - ./docker-compose.env
    environment:
        - DNSDOCK_IMAGE=mailer

memorycache:
    build: ./docker/docker-images/memcached
    env_file:
        - ./docker-compose.env
    environment:
        - DNSDOCK_IMAGE=memcache

searchengine:
    build: ./docker/docker-images/elasticsearch
    volumes_from:
        - data
    env_file:
        - ./docker-compose.env
    environment:
        - DNSDOCK_IMAGE=search

frontendmanagertools:
    build: ./docker/docker-images/npmtools
    volumes_from:
        - data
    env_file:
        - ./docker-compose.env
    environment:
        - DNSDOCK_IMAGE=fmt

# Don't use 'guest/guest' to connect to this container (it is blocked)
messagebroker:
    image: tutum/rabbitmq
    env_file:
        - ./docker-compose.env
    environment:
        - DNSDOCK_IMAGE=mb
